<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="ISO-8859-1">
   <title>Covid19 Info App</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
   <div th:include="nav.html"></div>
   <div class="jumbotron">
      <table>
         <thead>
         <tr>
            <th> Affected Countries</th>
         </tr>
         </thead>
         <tbody>
         <tr th:if="${affectedcountries.getAffectedCountries().isEmpty()}">
            <td colspan="2"> No Country Available</td>
         </tr>
         <tr th:each="country : ${affectedcountries.getAffectedCountries()}">
            <td><span th:text="${country}"> Country Name </span></td>
         </tr>
         </tbody>
      </table>
   </div>
</div>
</body>
</html>