<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="ISO-8859-1">
   <title>Covid19 Info App</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
<div class="container">
   <div th:include="nav.html"></div>
   <div class="jumbotron">
      <div class="alert alert-primary d-flex justify-content-center " role="alert">Canada Brief Statistics</div>
      <table class="table">
         <thead>
         <tr>
            <th scope="col">Active Cases</th>
            <th scope="col">New Cases</th>
            <th scope="col">New Deaths</th>
            <th scope="col">Total Cases</th>
            <th scope="col">Total Deaths</th>
            <th scope="col">Total Recovered</th>
         </tr>
         </thead>
         <tbody>
         <tr>
            <td><span th:text="${canada.getActiveCases()}"></span></td>
            <td><span th:text="${canada.getNewCases()}"></span></td>
            <td><span th:text="${canada.getNewDeaths()}"></span></td>
            <td><span th:text="${canada.getTotalCases()}"></span></td>
            <td><span th:text="${canada.getTotalDeaths()}"></span></td>
            <td><span th:text="${canada.getTotalRecovered()}"></span></td>
         </tr>
         </tbody>
      </table>

      <div class="container my-4">
         <hr class="my-4">
         <div class="alert alert-primary d-flex justify-content-center " role="alert">Canada Detailed Provincial Statistics</div>
         <div>
            <canvas id="myChart"></canvas>
         </div>
      </div>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
      <script th:inline="javascript">
         /*<![CDATA[*/
            var myData = /*[[${canadaDetail}]]*/ "Provincial";
         /*]]*/

          var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ["Alberta",
                      "British Columbia",
                      "Grand Princess",
                      "Manitoba",
                      "New Brunswick",
                      "Newfoundland and Labrador",
                      "Northwest Territories",
                      "Nova Scotia",
                      "Ontario",
                      "Prince Edward Island",
                      "Quebec",
                      "Saskatchewan",
                      "Yukon"],
                  datasets: [{
                      label: 'Confirmed Cases',
                      data: myData,
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(225, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(215, 159, 64, 0.2)',
                          'rgba(185, 99, 132, 0.2)',
                          'rgba(99, 162, 235, 0.2)',
                          'rgba(33, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(205, 159, 64, 0.2)',
                          'rgba(195, 99, 132, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(225, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(215, 159, 64, 1)',
                          'rgba(185,99,132,1)',
                          'rgba(99, 162, 235, 1)',
                          'rgba(33, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(205, 159, 64, 1)',
                          'rgba(195,99,132,1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  }
              }
          });
      </script>
   </div>
</div>
</body>
</html>