<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="ISO-8859-1">
   <title>Covid19 Info App</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
   <div th:include="nav.html"></div>
   <div class="jumbotron">
      <div class="alert alert-primary d-flex justify-content-center " role="alert">Global Brief Statistics</div>
      <table class="table">
         <thead>
         <tr>
            <th scope="col">Country Name</th>
            <th scope="col">New Cases</th>
            <th scope="col">New Deaths</th>
            <th scope="col">Total Cases</th>
            <th scope="col">Total Deaths</th>
            <th scope="col">Total Recovered</th>
         </tr>
         </thead>
         <tbody>
         <tr th:each="country : ${countrysta.getCountriesStats()}">
            <td><span th:text="${country.getCountryName()}"></span></td>
            <td><span th:text="${country.getNewCases()}"></span></td>
            <td><span th:text="${country.getNewDeaths()}"></span></td>
            <td><span th:text="${country.getTotalCases()}"></span></td>
            <td><span th:text="${country.getTotalDeaths()}"></span></td>
            <td><span th:text="${country.getTotalRecovered()}"></span></td>
         </tr>
         </tbody>
      </table>
   </div>
</div>
</body>
</html>
