<!DOCTYPE html>
<html>
<head>
   <meta charset="ISO-8859-1">
   <title>Covid19 Data Sheet</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
   <div class="jumbotron">
      <h1 class="display-4">COVID-19 Global Tracking System</h1>
      <p class="lead">You can do more than you thought with this system</p>
      <hr class="my-4">
      <p>This API shoud provide realtime information about the Covid19 situation.</p>
      <p>This API was built on top of Coronavirus monitor API by astsiatsko
         (Ref URL: https://rapidapi.com/astsiatsko/api-monitor/details)
      </p>

      <p class="lead">
         <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      </p>
   </div>
</div>
</body>
</html>