<div>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">SOEN487 A3</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="list-group-item">
               <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="list-group-item">
               <a class="nav-link" href="/worldsta">World Stats</a>
            </li>
            <li class="list-group-item">
               <a class="nav-link" href="/affectedcountries">Affected Countries</a>
            </li>
            <li class="list-group-item">
               <a class="nav-link" href="/canada">Canada Stats</a>
            </li>
            <li class="list-group-item">
               <a class="nav-link" href="/countrysta">Global Table</a>
            </li>
            <li class="list-group-item">
               <a class="nav-link" href="/globalmap">Global Map</a>
            </li>
         </ul>
         <div class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="/logout">Logout</a>
         </div>
      </div>
   </nav>
</div>